.table {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  background-color: #1B262D;
  color: #A4A9AC;
  border-color: #2C3940;
  width: 100%;
  max-height: 500px;
  overflow-y: scroll;
  text-transform: uppercase;
}
